body {
    min-height: 200vh;
    position: relative;
    padding-bottom: 150px;
     box-sizing: border-box;
    }

.signup {
    background-color: #ffcc00;
    border: none;
    color: #000;
    padding: 7px 15px;
    border-radius: 5px;
}
     
h1 {
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
}


/* CAROUSEL */

.carousel-container {
            position: relative;
            max-width: 1500px; /* Lebar carousel */
            margin: auto;
            overflow: hidden;
            border: 1px solid #ccc;
        }

        .carousel-slide {
            display: flex;
            transition: transform 0.5s ease-in-out; /* Animasi */
        }

        .slide-item {
            min-width: 100%;
            box-sizing: border-box;
            text-align: center;
            padding: 20px;
            font-size: 24px;
            height: 800px; /* Tinggi item slide */
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
        }

        /* Tombol */
        .prev, .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            padding: 16px;
            margin-top: -22px;
            color: white;
            font-weight: bold;
            font-size: 20px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
            background-color: rgba(0,0,0,0.5);
            z-index: 10;
        }

        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }

        .prev:hover, .next:hover {
            background-color: rgba(0,0,0,0.8);
        }